* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

img {
    width: 300px;
    height: auto;
    /* border-radius: 10%; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-header {
    display: flex;
    justify-content: space-between;
}

.site-header,
.main-hero,
.site-footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.header-links-container {
    display: flex;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-self: center;
}

.main-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 620px;
}

.hero-header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 700px;
}

.hero-graphic img {
    width: 650px;
}

.main-testimonials,
.main-coaches {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-container-img,
.coaches-container-img {
    display: flex;
    gap: 40px;
}

.main-cta-enroll {
    display: flex;
    align-items: center;
}