* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button,
.cta-button-container button {
    padding: 5px 40px;
    border-radius: 8px;
    background-color: #3882f6;
    font-size: 1rem;
    color: #f9faf8;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

img {
    width: 300px;
    height: auto;
}

.cta-button-container button {
    border: 2px solid #f9faf8;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header,
.main-hero,
.site-footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 0 80px;
}

.header-logo-container {
    display: flex;
    align-items: center;
}

.header-logo-container img {
    width: 40px;
}

.header-links-container {
    display: flex;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-self: center;
}

.main-hero {
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 700px;
}

.hero-graphic img {
    width: 650px;
}

.title {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.tag {
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-self: center;
}

.main-coach,
.main-testimonial {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-container-img,
.coach-container-img {
    display: flex;
    gap: 40px;
}

.student.tag {
    display: flex;
    flex-wrap: wrap;
}

.main-cta-enroll {
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
    width: 800px;
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.site-footer {
    margin-top: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}