* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

img {
    width: 300px;
    height: auto;
    /* border-radius: 10%; */
}

.site-header {
    display: flex;
    justify-content: space-between;
}

.header-links-container {
    display: flex;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-self: center;
}

.main-header-copy {
    display: flex;
}

.site-header,
.main-header-copy,
.site-footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

#hero-header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.main-testimonials,
.main-coaches {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-container-img,
.coaches-container-img {
    display: flex;
    gap: 40px;
}